/* styles.css */

.repos-container {
    padding: 20px;
  }
  
  .repo-item {
    margin-bottom: 10px;
  }
  
  .delete-button {
    padding: 5px 10px;
    background-color: #d73a49; /* GitHub red */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #9b1b30; /* Darker GitHub red on hover */
  }
  